/*.MainRight{
    width: calc(100%-210px);
    width: -webkit-calc(100%-210px);
    width: -o-calc(100%-210px);
    width: -moz-calc(100%-210px);
}*/
*{
    font-family: Microsoft YaHei;
}
li{
    list-style: none;
}
.MainBody{
    display: flex;
    align-items: stretch;
    position: fixed;
    height: 100%;
    width: calc(100% + 6px);
}
.MainLeft{
    display: flex;
}
.MainRight{
    /*display: inline-flex;*/
    width:100%;
    overflow-y: auto;
    margin-bottom:60px;
    background: white;
    z-index: 9;
}
.MainRight>div{
    width:100%;
}
.text{
    text-decoration: none;
}
/*welcome*/
.welcome{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}
.welcome>div{
    justify-content: center;
}
.welcome>h2{
    color: #00bcd4;
    font-size: 50px;
}
.handle{
    display: inline-block;
}
.pagination{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 19;
}
.exp-imp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 19;
}
.dialogTitle{
    margin:0 0 0 1em;
    padding-top: 1em;
    color: #00bcd4;
}
.searchTitle{
    font-weight: 600;
    color: #00bcd4;
}

.menusBox{
    width: 180px;
    margin-left: -40px;
    overflow-y:auto;
    margin-bottom: 100px;
}
.menusBox>li{
    margin:4px 0;
}
/*.menusBox ul{
    display: none;
}*/
.block{
    display: block;
    margin-left: -40px;
}
.none{
    display: none;
}
.bgColor{
    background: none rgba(0, 0, 0, 0.2);
}
.menus{
    margin-left: -40px;
    display: block;
}
.block>li{
    padding: 4px 0 4px 20px;
}
.arrow{
    float: right;
    margin-right: 10px;
}