/*.MainRight{
    width: calc(100%-210px);
    width: -webkit-calc(100%-210px);
    width: -o-calc(100%-210px);
    width: -moz-calc(100%-210px);
}*/
*{
    font-family: Microsoft YaHei;
}
li{
    list-style: none;
}
.MainBody{
    display: flex;
    align-items: stretch;
    position: fixed;
    height: 100%;
    width: calc(100% + 6px);
}
.MainLeft{
    display: flex;
}
.MainRight{
    display: inline-flex;
    width:100%;
    overflow-y: auto;
    margin-bottom:60px;
    background: white;
    z-index: 9;
    margin-left: -12px;
}
.MainRight>div{
    width:100%;
    min-height: 160px;
}
.text{
    text-decoration: none;
}
.exp-imp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 19;
}
.dialogTitle{
    margin:0 0 0 1em;
    padding-top: 1em;
    color: #00bcd4;
}
.searchTitle{
    font-weight: 600;
    color: #00bcd4;
    margin-left: 60px;
}
/*menus样式*/
.mainLeftMenus {
    width: 240px;
    margin-left: -40px;
    overflow-y:scroll;
    margin-bottom: 130px;  
}
.menusBox{
    /*width: 200px;
    margin-left: -40px;
    overflow-y:scroll;
    margin-bottom: 130px;*/
}
.menusBox>li{
    margin:8px 0;
    cursor: pointer;
}
/*.menusBox ul{
    display: none;
}*/
.block{
    display: block;
    margin-left: -40px;
}
.none{
    display: none;
}
.bgColor{
    background: none rgba(0, 0, 0, 0.2);
}
.menus{
    margin-left: -40px;
    display: block;
}
.block>li{
    padding: 8px 0 8px 20px;
}
.arrow{
    float: right;
    margin-right: 10px;
    color: #00bcd4;
}
.dialogButton{
    float: right;
    margin:20px 20px 0 0;
}
.buttonBox{
    position: fixed;
    bottom: 20px;
    margin-left: 16px;
}
/*items样式*/
.tableItems{
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
}
.theadItems{
    opacity: 0.5;
}
.toolItems{
    width: 80px;
    padding:4px;
    border-bottom: 1px solid #e0e0e0;
}
.tdItems, .thItems {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:4px;
    border-bottom: 1px solid #e0e0e0;
}